<html>

<head>
    <title>Donut Customizer</title>
    <link href="script/donut.css" rel="stylesheet">
</head>

<body>
    <div class="slider">
        <h1>Donut Customizer</h1>
        <label for="frostingColor">Frosting Color:</label>
        <input id="frostingColor" type="color" value="#965e25">
        <br />
        <label for="sprinkleColor">Sprinkle Color:</label>
        <input id="sprinkleColor" type="color" value="#ffa3c0">
    </div>
    <div class="donut">
        <div class="donut-base"></div>
        <div class="icing">
            <div class="chocolate"></div>
            <div class="chocolate-curve"></div>
            <div class="chocolate-curve rotate-45"></div>
            <div class="chocolate-curve rotate-n45 flipped"></div>
            <div class="chocolate-curve  flipped"></div>
        </div>
        <div class="sprinkle one"></div>
        <div class="sprinkle two"></div>
        <div class="sprinkle three"></div>
        <div class="sprinkle four"></div>
        <div class="sprinkle five"></div>
        <div class="sprinkle six"></div>
        <div class="sprinkle seven"></div>
        <div class="sprinkle eight"></div>
        <div class="sprinkle nine"></div>
        <div class="sprinkle ten"></div>
        <div class="sprinkle eleven"></div>
        <div class="sprinkle twelve"></div>
    </div>
    <script src="script/donut.js"></script>
</body>

</html>